.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  